.search-form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #358eb8;
}

.search-form input {
  width: 250px;
  font-size: 20px;
}

.search-form button {
  font-size: 20px;
  border-color: white;
  background-color: #358eb8;
  color: white;
  cursor: pointer;
}

.gallery-container {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.btn-container {
  display: flex;
  padding: 10px;
}

.btn-container button {
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  text-transform: uppercase;
  padding: 10px;
  background-color: #358eb8;
  border-color: transparent;
  color: #fff;
  border-radius: 5px;
}
.btn-container button:hover,
.btn-container button:focus {
  background-color: #10435b;
  cursor: pointer;
}

body {
  background-color: #e9f2f7;
}